@import "../../variable.scss";
.skill {
  padding: 3rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  text-align: center;

  p {
    margin: 1rem 0;
    &.title {
      font-size: 20px;
      font-weight: 600;
    }
    &.subtitle {
      width: 50%;
    }
    &.progress__container {
      width: 70%;
      .single__progress {
        width: 100%;
        margin: 0.5rem 0;
        .label {
          display: flex;
          justify-content: space-between;
        }
        .progressbar {
          progress {
            width: 100%;
            -webkit-appearance: none;
            appearance: none;
            &::-webkit-progress-bar {
              background-color: $white;
              border-radius: 10px;
              box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
            }
            &::-webkit-progress-value {
              border-radius: 10px;
              background-color: $primary1 !important;
            }
          }
        }
      }
    }
  }
}
