@import "./variable.scss";
* {
  margin: 0;
  padding: 0;
}

a,
span,
i,
button,
img {
  user-select: none;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none !important;
  transition: ease 0.3s;
}
.pageCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.btn-pill {
  width: 100% !important;
  border-radius: 50rem !important;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  background-color: $white;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  transition: 0.2s ease-in-out;
  &.p1 {
    color: $primary1;
    border: 1px solid $primary1;
    &:hover {
      color: $white;
      background-color: $primary1;
    }
  }
  &.p2 {
    color: $primary2;
    border: 1px solid $primary2;
    &:hover {
      color: $white;
      background-color: $primary2;
    }
  }
}
